{% extends 'base.html' %}

{% block content %}
{% include 'sidenav.html' %}
{% include 'flashes.html' %}
<!-- File table -->
{% if replications.items %}
<div style="margin-left: 200px;">
<div class="container me-auto mt-4">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">From VPS</th>
        <th class="text-center">To VPS</th>
        <th class="text-center">Action type</th>
        <th class="text-center">Replication time</th>
        <th class="text-center">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for r in replications %}
      <tr>
        <td class="text-center">
              <p class="fw-bold mb-1">{{ r.id }}</p>
        </td>
        <td class="text-center">
              <p class="fw-bold mb-1 ">VPS{{ r.from_vps }} {{r.fk_from_vps.country}} {{ r.fk_from_vps.city }} {{r.fk_from_vps.ip}}</p>
        </td>
        <td class="text-center">
          <p class="fw-bold mb-1 ">VPS{{ r.to_vps }} {{r.fk_to_vps.country}} {{ r.fk_to_vps.city }} {{r.fk_to_vps.ip}}</p>
        </td>
        <td class="text-center">
          <p class="fw-bold mb-1 ">{{ r.action_type }}</p>
        </td>
        <td class="text-center">
          <p class="fw-bold mb-1 ">{{ r.action_time.strftime('%y-%m-%d %H:%M:%S')}}</p>
        </td>
        <td class="text-center">
          <p class="fw-bold mb-1 ">{{ r.duration }} sec</p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<!-- End File table -->
{% if replications.pages > 1 %}
<!-- Pagination -->
<nav aria-label="Page navigation example" class="mx-auto">
  <ul class="pagination  mt-4 justify-content-center">
    {% if replications.has_prev %}
    <li class="page-item mx-2">
      <a class="page-link" href="{{ url_for('get_replications', page=replications.prev_num) }}" aria-label="Previous">
        <span aria-hidden="false">&laquo;</span>
      </a>
    </li>
    <li class="page-item mx-2"><a class="page-link" href="{{ url_for('get_replications', page=replications.prev_num) }}">{{ replications.prev_num }}</a></li>
    {% endif %}
    <li class="page-item active mx-2"><p class="page-link"> {{replications.page}} </p></li>
    {% if replications.has_next %}
    <li class="page-item mx-2"><a class="page-link" href="{{ url_for('get_replications', page=replications.next_num) }}">{{ replications.next_num }}</a></li>
    <li class="page-item mx-2">
      <a class="page-link" href="{{ url_for('get_replications', page=replications.next_num) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- End Pagination -->
{% else %}
<h1 class="text-center mt-3" style="margin-left: -200px;">There is no replication here yet</h1>
{% endif %}
</div>
{% endblock %}